/* @font-face {
  font-family: "Nunito Sans Regular";
  src: url("../fonts/NunitoSans-Regular.ttf");
} 

@font-face {
  font-family: "Nunito Sans Italic";
  src: url("../fonts/NunitoSans-Italic.ttf");
}  */

body {
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
  margin: 0;
  /* box-sizing: border-box; */
}

.header {
  width: 100vw;
  background-color: #131313;
}

.header-container {
  width: 1256px;
  height: 83px;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-right: 75px;
  color: #E3B873;
}

.navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation-item_link {
  margin-right: 50px;
  text-decoration: none;
  color: white;
}

.navigation-item_link:hover {
  color: #E3B873;
}

.tel {
  margin-left: 10px;
  text-align: right;
  text-decoration-line: underline;
  color: #E3B873;
}

.header_button {
  width: 161px;
  height: 37px;
  background: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  outline: 0;
  border: 0;
  padding: 13px 33px;
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.page1 {
  background-image: url(../images/image4.3.jpg);
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 100vh; 
  max-height: 707px;
  z-index: 0;
}

.page1-container {
  max-width: 1170px;
  margin: 0 auto;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.title {
  margin: 0;
  padding-top: 191px;
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: white;
}

.rostov {
  color: #E3B873;
}

.subtitle {
  margin: 0;
  padding-top: 18px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: white;
}

.calculate-button {
  width: 207px;
  height: 51px;
  margin-top: 25px;
  background: #E3B873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
  outline: 0;
  border: 0;
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.submit-button {
  width: 207px;
  height: 51px;
  margin: 25px 0px 0px 15px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.page2 {
  background-color: #131313;
  width: 100vw;
  height: 100vh;
  height: 1074px;
}

.page2-container {
  max-width: 1170px;
  margin: 0 auto;
}

.page2-navigation {
  margin: 0;
  padding: 107px 0px 0px 432px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.page2-navigation_item {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
  padding-bottom: 6px;
  margin-left: 60px;
}

.page2-navigation_item:hover {
  color: #E3B873;
  border-bottom: 1px solid;
}

.completed-projects_text {
  margin: 0;
  padding: 0;
}

.completed-projects_header {
  margin-top: 47px;
  margin-bottom: 24px;
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #E3B873;
}

.completed-projects_photo {
  float: right;
  margin: 50px 0px 0px 0px;
}

.completed-projects_description {
  margin-bottom: 47px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #FFFFFF;
}

.completed-projects_table td {
  width: 185px;
  height: 31px;
  padding: 0;
  vertical-align: top;
}

.completed-projects_table thead {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #E3B873;
  
}

.completed-projects_table tbody {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #FFFFFF;
}

.completed-projects_table {
  margin-bottom: 28px;
}

.left-arrow {
  margin: 43px 25px 0px 0px;
}

.dots {
  margin-right: 25px;
}

.online-control {
  margin-top: 82px;
  margin-bottom: 12px;
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.camera-container {
  width: 150px;
  margin-left: 515px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stick {
  margin-right: 9px;
}

.camera {
  margin-right: 7px;
}

.page3-container {
  margin: -225px 0px 0px 0px;
  display: flex;
  justify-content: center;
}

.broadcast-image {
  position: relative;
  margin-left: -379px;
}

.overlay-page3 {
  background-color: rgba(0, 0, 0, 0.8);
  width: 817px;
  height: 434px;
  margin-left: -817px;
  z-index: 1;
}

.ellipse {
  margin: 11px 0px 0px -483px;
  z-index: 2;
}

.polygon {
  margin: 2px 0px 0px -78px;
  z-index: 3;
}

.page3-text_container {
  display: flex;
  justify-content: center;
}

.rectangle-below_image {
 margin: 63px 0px 0px 16px;
}